body, html {
    @include roboto;

    height: 100%;

    font-size: 15px;
}

* {
    box-sizing: border-box;
}

.wrapper {
    z-index: 1;
    position: relative;

    width: 100%;
    max-width: $wrapper-width + 80;

    margin: 0 auto;

    @include for-phone-only {
        padding-left: 0;
        padding-right: 0;
    }

    @include for-tablet-portrait-up {
        padding-left: 20px;
        padding-right: 20px;
    }

    @include for-desktop-up {
        padding-left: 40px;
        padding-right: 40px;
    }

    &--get-paddings {
        @include for-phone-only {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.overlay {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 90;

    width: 100%;
    height: 100%;
    display: none;

    background-color: black;
    opacity: 0.85;
}
