.bg--gray {
  background-color: $light-gray;
}

.shadow-shooter {
  position: relative;
  z-index: 2;

  box-shadow: 0px 0px 50px transparentize(black, .85);
}

.white {
  &.h1, &.h2, &.h3, &.h4, &.p {
    color: white;
  }
}

.orange {
  &.h1, &.h2, &.h3, &.h4, &.p {
    color: $orange;
  }
}

.inlined {
  @include inline-block;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.dblock {
  display: block;
}

.dnone {
  display: none;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}


.hide-on-desktop-up {
  display: block;

  @include for-desktop-up {
    display: none;
  }
}

