$path-to-fonts: '../fonts';

@font-face
{
    font-family: 'roboto';
    src: url('#{$path-to-fonts}/roboto/roboto-light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face
{
    font-family: 'roboto';
    src: url('#{$path-to-fonts}/roboto/roboto-medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face
{
    font-family: 'roboto';
    src: url('#{$path-to-fonts}/roboto/roboto-regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face
{
    font-family: 'fontello';
    src: url('#{$path-to-fonts}/fontello/fontello.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    max-width: 700px;

    margin: 0;
    margin-bottom: 0.6em;

    line-height: 1.25em;
}

.p, .text {
    max-width: 700px;

    margin-bottom: 20px;

    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
}

.text {
    margin-bottom: 0;

    &.regular {
        font-weight: 400;
    }
}

.h1 {
    margin-bottom: 0.6em;

    @include for-phone-up {
        font-size: between(32px, 50px, $phone-from, $desktop);
    }

    @include for-desktop-up {

        font-size: 50px;
        line-height: 1.25em;
    }
}

.h2 {
    margin-bottom: 15px;

    font-size: 40px;

    @include for-phone-up {
        font-size: between(28px, 40px, $phone-from, $desktop);
    }

    @include for-desktop-up {
        margin-bottom: 15px;

        font-size: 40px;
        line-height: 1.25em;
    }
}

.h3 {
    @include for-phone-up {
        margin-bottom: 0.6em;

        font-size: between(20px, 30px, $phone-from, $desktop);
    }

    @include for-desktop-up {
        font-size: 30px;
    }
}

.h4 {
    @include for-phone-up {

        font-size: between(18px, 25px, $phone-from, $desktop);
    }

    @include for-desktop-up {
        font-size: 25px;
    }
}

.link {
    font-size: 15px;
    color: $orange;

    &--small {
        font-size: 13px;
        font-weight: 300;
    }
}

