@charset "UTF-8";
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  margin: .67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  color: #000;
  background: #ff0; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  color: inherit;
  /* 1 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  /* 3 */
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type='search'] {
  /* 2 */
  box-sizing: content-box;
  -webkit-appearance: textfield;
  /* 1 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid #c0c0c0; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  padding: 0;
  /* 2 */
  border: 0;
  /* 1 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-spacing: 0;
  border-collapse: collapse; }

td,
th {
  padding: 0; }

[class*="col-"] {
  padding-left: 20px;
  padding-right: 20px; }

.half-paddings {
  padding-left: 10px;
  padding-right: 10px; }

.col-xs-1 {
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
  max-width: 8.33333%;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-1--stretchy {
  -ms-flex-preferred-size: calc(100% - 1283.33333px);
      flex-basis: calc(100% - 1283.33333px);
  max-width: calc(100% - 1283.33333px); }

.col-xs-1--fixed {
  -ms-flex-preferred-size: 116.66667px;
      flex-basis: 116.66667px;
  max-width: 116.66667px;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.col-xs-2 {
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
  max-width: 16.66667%;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-2--stretchy {
  -ms-flex-preferred-size: calc(100% - 1166.66667px);
      flex-basis: calc(100% - 1166.66667px);
  max-width: calc(100% - 1166.66667px); }

.col-xs-2--fixed {
  -ms-flex-preferred-size: 233.33333px;
      flex-basis: 233.33333px;
  max-width: 233.33333px;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-3--stretchy {
  -ms-flex-preferred-size: calc(100% - 1050px);
      flex-basis: calc(100% - 1050px);
  max-width: calc(100% - 1050px); }

.col-xs-3--fixed {
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  max-width: 350px;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.col-xs-4 {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
  max-width: 33.33333%;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-4--stretchy {
  -ms-flex-preferred-size: calc(100% - 933.33333px);
      flex-basis: calc(100% - 933.33333px);
  max-width: calc(100% - 933.33333px); }

.col-xs-4--fixed {
  -ms-flex-preferred-size: 466.66667px;
      flex-basis: 466.66667px;
  max-width: 466.66667px;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.col-xs-5 {
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
  max-width: 41.66667%;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-5--stretchy {
  -ms-flex-preferred-size: calc(100% - 816.66667px);
      flex-basis: calc(100% - 816.66667px);
  max-width: calc(100% - 816.66667px); }

.col-xs-5--fixed {
  -ms-flex-preferred-size: 583.33333px;
      flex-basis: 583.33333px;
  max-width: 583.33333px;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-6--stretchy {
  -ms-flex-preferred-size: calc(100% - 700px);
      flex-basis: calc(100% - 700px);
  max-width: calc(100% - 700px); }

.col-xs-6--fixed {
  -ms-flex-preferred-size: 700px;
      flex-basis: 700px;
  max-width: 700px;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.col-xs-7 {
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
  max-width: 58.33333%;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-7--stretchy {
  -ms-flex-preferred-size: calc(100% - 583.33333px);
      flex-basis: calc(100% - 583.33333px);
  max-width: calc(100% - 583.33333px); }

.col-xs-7--fixed {
  -ms-flex-preferred-size: 816.66667px;
      flex-basis: 816.66667px;
  max-width: 816.66667px;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.col-xs-8 {
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
  max-width: 66.66667%;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-8--stretchy {
  -ms-flex-preferred-size: calc(100% - 466.66667px);
      flex-basis: calc(100% - 466.66667px);
  max-width: calc(100% - 466.66667px); }

.col-xs-8--fixed {
  -ms-flex-preferred-size: 933.33333px;
      flex-basis: 933.33333px;
  max-width: 933.33333px;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  max-width: 75%;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-9--stretchy {
  -ms-flex-preferred-size: calc(100% - 350px);
      flex-basis: calc(100% - 350px);
  max-width: calc(100% - 350px); }

.col-xs-9--fixed {
  -ms-flex-preferred-size: 1050px;
      flex-basis: 1050px;
  max-width: 1050px;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.col-xs-10 {
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
  max-width: 83.33333%;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-10--stretchy {
  -ms-flex-preferred-size: calc(100% - 233.33333px);
      flex-basis: calc(100% - 233.33333px);
  max-width: calc(100% - 233.33333px); }

.col-xs-10--fixed {
  -ms-flex-preferred-size: 1166.66667px;
      flex-basis: 1166.66667px;
  max-width: 1166.66667px;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.col-xs-11 {
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
  max-width: 91.66667%;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-11--stretchy {
  -ms-flex-preferred-size: calc(100% - 116.66667px);
      flex-basis: calc(100% - 116.66667px);
  max-width: calc(100% - 116.66667px); }

.col-xs-11--fixed {
  -ms-flex-preferred-size: 1283.33333px;
      flex-basis: 1283.33333px;
  max-width: 1283.33333px;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-12--stretchy {
  -ms-flex-preferred-size: calc(100% - 0px);
      flex-basis: calc(100% - 0px);
  max-width: calc(100% - 0px); }

.col-xs-12--fixed {
  -ms-flex-preferred-size: 1400px;
      flex-basis: 1400px;
  max-width: 1400px;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.justify-xs-between {
  -ms-flex-pack: justify;
      justify-content: space-between; }

.justify-xs-end {
  -ms-flex-pack: end;
      justify-content: flex-end; }

.self-xs-end {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.self-xs-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }

.align-xs-center {
  -ms-flex-align: center;
      align-items: center; }

.no-xs-paddings {
  padding-left: 0;
  padding-right: 0; }

.order-xs-1 {
  -ms-flex-order: 1;
      order: 1; }

.order-xs-2 {
  -ms-flex-order: 2;
      order: 2; }

@media (min-width: 600px) {
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-1--stretchy {
    -ms-flex-preferred-size: calc(100% - 1283.33333px);
        flex-basis: calc(100% - 1283.33333px);
    max-width: calc(100% - 1283.33333px); }
  .col-sm-1--fixed {
    -ms-flex-preferred-size: 116.66667px;
        flex-basis: 116.66667px;
    max-width: 116.66667px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-2--stretchy {
    -ms-flex-preferred-size: calc(100% - 1166.66667px);
        flex-basis: calc(100% - 1166.66667px);
    max-width: calc(100% - 1166.66667px); }
  .col-sm-2--fixed {
    -ms-flex-preferred-size: 233.33333px;
        flex-basis: 233.33333px;
    max-width: 233.33333px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-3--stretchy {
    -ms-flex-preferred-size: calc(100% - 1050px);
        flex-basis: calc(100% - 1050px);
    max-width: calc(100% - 1050px); }
  .col-sm-3--fixed {
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    max-width: 350px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-4--stretchy {
    -ms-flex-preferred-size: calc(100% - 933.33333px);
        flex-basis: calc(100% - 933.33333px);
    max-width: calc(100% - 933.33333px); }
  .col-sm-4--fixed {
    -ms-flex-preferred-size: 466.66667px;
        flex-basis: 466.66667px;
    max-width: 466.66667px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-5--stretchy {
    -ms-flex-preferred-size: calc(100% - 816.66667px);
        flex-basis: calc(100% - 816.66667px);
    max-width: calc(100% - 816.66667px); }
  .col-sm-5--fixed {
    -ms-flex-preferred-size: 583.33333px;
        flex-basis: 583.33333px;
    max-width: 583.33333px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-6--stretchy {
    -ms-flex-preferred-size: calc(100% - 700px);
        flex-basis: calc(100% - 700px);
    max-width: calc(100% - 700px); }
  .col-sm-6--fixed {
    -ms-flex-preferred-size: 700px;
        flex-basis: 700px;
    max-width: 700px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-7--stretchy {
    -ms-flex-preferred-size: calc(100% - 583.33333px);
        flex-basis: calc(100% - 583.33333px);
    max-width: calc(100% - 583.33333px); }
  .col-sm-7--fixed {
    -ms-flex-preferred-size: 816.66667px;
        flex-basis: 816.66667px;
    max-width: 816.66667px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-8--stretchy {
    -ms-flex-preferred-size: calc(100% - 466.66667px);
        flex-basis: calc(100% - 466.66667px);
    max-width: calc(100% - 466.66667px); }
  .col-sm-8--fixed {
    -ms-flex-preferred-size: 933.33333px;
        flex-basis: 933.33333px;
    max-width: 933.33333px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-9--stretchy {
    -ms-flex-preferred-size: calc(100% - 350px);
        flex-basis: calc(100% - 350px);
    max-width: calc(100% - 350px); }
  .col-sm-9--fixed {
    -ms-flex-preferred-size: 1050px;
        flex-basis: 1050px;
    max-width: 1050px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-10--stretchy {
    -ms-flex-preferred-size: calc(100% - 233.33333px);
        flex-basis: calc(100% - 233.33333px);
    max-width: calc(100% - 233.33333px); }
  .col-sm-10--fixed {
    -ms-flex-preferred-size: 1166.66667px;
        flex-basis: 1166.66667px;
    max-width: 1166.66667px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-11--stretchy {
    -ms-flex-preferred-size: calc(100% - 116.66667px);
        flex-basis: calc(100% - 116.66667px);
    max-width: calc(100% - 116.66667px); }
  .col-sm-11--fixed {
    -ms-flex-preferred-size: 1283.33333px;
        flex-basis: 1283.33333px;
    max-width: 1283.33333px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-12--stretchy {
    -ms-flex-preferred-size: calc(100% - 0px);
        flex-basis: calc(100% - 0px);
    max-width: calc(100% - 0px); }
  .col-sm-12--fixed {
    -ms-flex-preferred-size: 1400px;
        flex-basis: 1400px;
    max-width: 1400px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .justify-sm-between {
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .justify-sm-end {
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .self-sm-end {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .self-sm-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
  .align-sm-center {
    -ms-flex-align: center;
        align-items: center; }
  .no-sm-paddings {
    padding-left: 0;
    padding-right: 0; }
  .order-sm-1 {
    -ms-flex-order: 1;
        order: 1; }
  .order-sm-2 {
    -ms-flex-order: 2;
        order: 2; } }

@media (min-width: 900px) {
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-1--stretchy {
    -ms-flex-preferred-size: calc(100% - 1283.33333px);
        flex-basis: calc(100% - 1283.33333px);
    max-width: calc(100% - 1283.33333px); }
  .col-md-1--fixed {
    -ms-flex-preferred-size: 116.66667px;
        flex-basis: 116.66667px;
    max-width: 116.66667px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-md-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-2--stretchy {
    -ms-flex-preferred-size: calc(100% - 1166.66667px);
        flex-basis: calc(100% - 1166.66667px);
    max-width: calc(100% - 1166.66667px); }
  .col-md-2--fixed {
    -ms-flex-preferred-size: 233.33333px;
        flex-basis: 233.33333px;
    max-width: 233.33333px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-3--stretchy {
    -ms-flex-preferred-size: calc(100% - 1050px);
        flex-basis: calc(100% - 1050px);
    max-width: calc(100% - 1050px); }
  .col-md-3--fixed {
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    max-width: 350px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-4--stretchy {
    -ms-flex-preferred-size: calc(100% - 933.33333px);
        flex-basis: calc(100% - 933.33333px);
    max-width: calc(100% - 933.33333px); }
  .col-md-4--fixed {
    -ms-flex-preferred-size: 466.66667px;
        flex-basis: 466.66667px;
    max-width: 466.66667px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-md-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-5--stretchy {
    -ms-flex-preferred-size: calc(100% - 816.66667px);
        flex-basis: calc(100% - 816.66667px);
    max-width: calc(100% - 816.66667px); }
  .col-md-5--fixed {
    -ms-flex-preferred-size: 583.33333px;
        flex-basis: 583.33333px;
    max-width: 583.33333px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-6--stretchy {
    -ms-flex-preferred-size: calc(100% - 700px);
        flex-basis: calc(100% - 700px);
    max-width: calc(100% - 700px); }
  .col-md-6--fixed {
    -ms-flex-preferred-size: 700px;
        flex-basis: 700px;
    max-width: 700px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-7--stretchy {
    -ms-flex-preferred-size: calc(100% - 583.33333px);
        flex-basis: calc(100% - 583.33333px);
    max-width: calc(100% - 583.33333px); }
  .col-md-7--fixed {
    -ms-flex-preferred-size: 816.66667px;
        flex-basis: 816.66667px;
    max-width: 816.66667px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-8--stretchy {
    -ms-flex-preferred-size: calc(100% - 466.66667px);
        flex-basis: calc(100% - 466.66667px);
    max-width: calc(100% - 466.66667px); }
  .col-md-8--fixed {
    -ms-flex-preferred-size: 933.33333px;
        flex-basis: 933.33333px;
    max-width: 933.33333px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-9--stretchy {
    -ms-flex-preferred-size: calc(100% - 350px);
        flex-basis: calc(100% - 350px);
    max-width: calc(100% - 350px); }
  .col-md-9--fixed {
    -ms-flex-preferred-size: 1050px;
        flex-basis: 1050px;
    max-width: 1050px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-10--stretchy {
    -ms-flex-preferred-size: calc(100% - 233.33333px);
        flex-basis: calc(100% - 233.33333px);
    max-width: calc(100% - 233.33333px); }
  .col-md-10--fixed {
    -ms-flex-preferred-size: 1166.66667px;
        flex-basis: 1166.66667px;
    max-width: 1166.66667px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-md-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-11--stretchy {
    -ms-flex-preferred-size: calc(100% - 116.66667px);
        flex-basis: calc(100% - 116.66667px);
    max-width: calc(100% - 116.66667px); }
  .col-md-11--fixed {
    -ms-flex-preferred-size: 1283.33333px;
        flex-basis: 1283.33333px;
    max-width: 1283.33333px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-12--stretchy {
    -ms-flex-preferred-size: calc(100% - 0px);
        flex-basis: calc(100% - 0px);
    max-width: calc(100% - 0px); }
  .col-md-12--fixed {
    -ms-flex-preferred-size: 1400px;
        flex-basis: 1400px;
    max-width: 1400px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .justify-md-between {
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .justify-md-end {
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .self-md-end {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .self-md-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
  .align-md-center {
    -ms-flex-align: center;
        align-items: center; }
  .no-md-paddings {
    padding-left: 0;
    padding-right: 0; }
  .order-md-1 {
    -ms-flex-order: 1;
        order: 1; }
  .order-md-2 {
    -ms-flex-order: 2;
        order: 2; } }

@media (min-width: 1400px) {
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    max-width: 8.33333%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-1--stretchy {
    -ms-flex-preferred-size: calc(100% - 1283.33333px);
        flex-basis: calc(100% - 1283.33333px);
    max-width: calc(100% - 1283.33333px); }
  .col-lg-1--fixed {
    -ms-flex-preferred-size: 116.66667px;
        flex-basis: 116.66667px;
    max-width: 116.66667px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    max-width: 16.66667%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-2--stretchy {
    -ms-flex-preferred-size: calc(100% - 1166.66667px);
        flex-basis: calc(100% - 1166.66667px);
    max-width: calc(100% - 1166.66667px); }
  .col-lg-2--fixed {
    -ms-flex-preferred-size: 233.33333px;
        flex-basis: 233.33333px;
    max-width: 233.33333px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-3--stretchy {
    -ms-flex-preferred-size: calc(100% - 1050px);
        flex-basis: calc(100% - 1050px);
    max-width: calc(100% - 1050px); }
  .col-lg-3--fixed {
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    max-width: 350px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-4--stretchy {
    -ms-flex-preferred-size: calc(100% - 933.33333px);
        flex-basis: calc(100% - 933.33333px);
    max-width: calc(100% - 933.33333px); }
  .col-lg-4--fixed {
    -ms-flex-preferred-size: 466.66667px;
        flex-basis: 466.66667px;
    max-width: 466.66667px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    max-width: 41.66667%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-5--stretchy {
    -ms-flex-preferred-size: calc(100% - 816.66667px);
        flex-basis: calc(100% - 816.66667px);
    max-width: calc(100% - 816.66667px); }
  .col-lg-5--fixed {
    -ms-flex-preferred-size: 583.33333px;
        flex-basis: 583.33333px;
    max-width: 583.33333px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-6--stretchy {
    -ms-flex-preferred-size: calc(100% - 700px);
        flex-basis: calc(100% - 700px);
    max-width: calc(100% - 700px); }
  .col-lg-6--fixed {
    -ms-flex-preferred-size: 700px;
        flex-basis: 700px;
    max-width: 700px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    max-width: 58.33333%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-7--stretchy {
    -ms-flex-preferred-size: calc(100% - 583.33333px);
        flex-basis: calc(100% - 583.33333px);
    max-width: calc(100% - 583.33333px); }
  .col-lg-7--fixed {
    -ms-flex-preferred-size: 816.66667px;
        flex-basis: 816.66667px;
    max-width: 816.66667px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-8--stretchy {
    -ms-flex-preferred-size: calc(100% - 466.66667px);
        flex-basis: calc(100% - 466.66667px);
    max-width: calc(100% - 466.66667px); }
  .col-lg-8--fixed {
    -ms-flex-preferred-size: 933.33333px;
        flex-basis: 933.33333px;
    max-width: 933.33333px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-9--stretchy {
    -ms-flex-preferred-size: calc(100% - 350px);
        flex-basis: calc(100% - 350px);
    max-width: calc(100% - 350px); }
  .col-lg-9--fixed {
    -ms-flex-preferred-size: 1050px;
        flex-basis: 1050px;
    max-width: 1050px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    max-width: 83.33333%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-10--stretchy {
    -ms-flex-preferred-size: calc(100% - 233.33333px);
        flex-basis: calc(100% - 233.33333px);
    max-width: calc(100% - 233.33333px); }
  .col-lg-10--fixed {
    -ms-flex-preferred-size: 1166.66667px;
        flex-basis: 1166.66667px;
    max-width: 1166.66667px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    max-width: 91.66667%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-11--stretchy {
    -ms-flex-preferred-size: calc(100% - 116.66667px);
        flex-basis: calc(100% - 116.66667px);
    max-width: calc(100% - 116.66667px); }
  .col-lg-11--fixed {
    -ms-flex-preferred-size: 1283.33333px;
        flex-basis: 1283.33333px;
    max-width: 1283.33333px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-12--stretchy {
    -ms-flex-preferred-size: calc(100% - 0px);
        flex-basis: calc(100% - 0px);
    max-width: calc(100% - 0px); }
  .col-lg-12--fixed {
    -ms-flex-preferred-size: 1400px;
        flex-basis: 1400px;
    max-width: 1400px;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .justify-lg-between {
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .justify-lg-end {
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .self-lg-end {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .self-lg-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
  .align-lg-center {
    -ms-flex-align: center;
        align-items: center; }
  .no-lg-paddings {
    padding-left: 0;
    padding-right: 0; }
  .order-lg-1 {
    -ms-flex-order: 1;
        order: 1; }
  .order-lg-2 {
    -ms-flex-order: 2;
        order: 2; } }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

body, html {
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
  font-size: 15px; }

* {
  box-sizing: border-box; }

.wrapper {
  z-index: 1;
  position: relative;
  width: 100%;
  max-width: 1480px;
  margin: 0 auto; }
  @media (max-width: 599px) {
    .wrapper {
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 600px) {
    .wrapper {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (min-width: 1400px) {
    .wrapper {
      padding-left: 40px;
      padding-right: 40px; } }
  @media (max-width: 599px) {
    .wrapper--get-paddings {
      padding-left: 20px;
      padding-right: 20px; } }

.overlay {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 90;
  width: 100%;
  height: 100%;
  display: none;
  background-color: black;
  opacity: 0.85; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/roboto-light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/roboto-medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/roboto-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fontello.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

p {
  margin: 0; }

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  max-width: 700px;
  margin: 0;
  margin-bottom: 0.6em;
  line-height: 1.25em; }

.p, .text {
  max-width: 700px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px; }

.text {
  margin-bottom: 0; }
  .text.regular {
    font-weight: 400; }

.h1 {
  margin-bottom: 0.6em; }
  @media (min-width: 300px) {
    .h1 {
      font-size: calc(27.09091px + 1.63636vw); } }
  @media (min-width: 1400px) {
    .h1 {
      font-size: 50px;
      line-height: 1.25em; } }

.h2 {
  margin-bottom: 15px;
  font-size: 40px; }
  @media (min-width: 300px) {
    .h2 {
      font-size: calc(24.72727px + 1.09091vw); } }
  @media (min-width: 1400px) {
    .h2 {
      margin-bottom: 15px;
      font-size: 40px;
      line-height: 1.25em; } }

@media (min-width: 300px) {
  .h3 {
    margin-bottom: 0.6em;
    font-size: calc(17.27273px + 0.90909vw); } }

@media (min-width: 1400px) {
  .h3 {
    font-size: 30px; } }

@media (min-width: 300px) {
  .h4 {
    font-size: calc(16.09091px + 0.63636vw); } }

@media (min-width: 1400px) {
  .h4 {
    font-size: 25px; } }

.link {
  font-size: 15px;
  color: #f98a01; }
  .link--small {
    font-size: 13px;
    font-weight: 300; }

.icon {
  display: inline-block;
  float: none;
  vertical-align: middle;
  text-decoration: none; }
  span + .icon {
    margin-left: 10px; }
  .icon--white {
    color: #fff; }
    .icon--white.icon--rounded {
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.4); }
  .icon--green {
    color: #44b759; }
  .icon--rounded {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f5f5f5; }
  .icon:before {
    content: '';
    font-family: 'fontello';
    text-align: center;
    transition: color 0.5s; }
  .icon--big {
    font-size: 28px; }
  .icon--small {
    font-size: 13px; }
  .icon--play:before {
    content: '\E805'; }
  .icon--arrow:before {
    content: '\E800'; }
  .icon--burger:before {
    content: '\F0C9'; }
  .icon--cross:before {
    content: '\E802'; }
  .icon--long-arrow:before {
    content: '\E80C'; }
  .icon--vk:before {
    content: '\E80A'; }
  .icon--fb:before {
    content: '\E816'; }
  .icon--seal:before {
    content: '\E80D'; }

.header {
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  z-index: 10;
  background-color: #f98a01; }
  @media (max-width: 599px) {
    .header__logo {
      width: 100%;
      padding: 10px 20px;
      text-align: center; } }
  @media (max-width: 599px) {
    .header__logo--aside {
      width: auto; } }
  .header__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 0; }
    @media (min-width: 300px) {
      .header__inner {
        height: auto; } }
    @media (min-width: 1400px) {
      .header__inner {
        height: 100%;
        padding-right: 40px; } }
  .header__buttons-area {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (min-width: 300px) {
      .header__buttons-area {
        width: 100%;
        margin-top: 50px;
        padding-left: 20px;
        padding-right: 20px; } }
    @media (min-width: 1400px) {
      .header__buttons-area {
        width: auto;
        margin-top: 0;
        padding-left: 40px;
        padding-right: 0; } }
  @media (min-width: 300px) {
    .header__button {
      width: 100%;
      margin-bottom: 20px; } }
  @media (min-width: 900px) {
    .header__button {
      width: auto;
      margin-bottom: 0; }
      .header__button + .header__button {
        margin-left: 20px; } }

.main-screen {
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-image: url(../img/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 40px; }
  @media (min-width: 900px) {
    .main-screen {
      height: 530px; } }
  .main-screen__row {
    -ms-flex-item-align: end;
        align-self: flex-end;
    height: 100%; }
  .main-screen__wrapper {
    height: 100%; }
  .main-screen__p {
    margin-bottom: 2em;
    font-size: 16px; }
  .main-screen__anonce {
    margin-bottom: 50px; }
    @media (max-width: 599px) {
      .main-screen__anonce {
        text-align: center; } }
  .main-screen__timer {
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    @media (max-width: 599px) {
      .main-screen__timer {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: center;
            justify-content: center; } }
    @media (min-width: 900px) {
      .main-screen__timer {
        padding-left: 30px;
        -ms-flex-pack: start;
            justify-content: flex-start; } }
  .main-screen__link {
    -ms-flex-item-align: end;
        align-self: flex-end;
    color: #fff;
    padding: 10px 25px;
    background-color: #f98a01;
    font-size: 12px;
    font-weight: 500;
    text-align: center; }
    @media (max-width: 599px) {
      .main-screen__link {
        -ms-flex-positive: 1;
            flex-grow: 1;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        max-width: 280px;
        margin-bottom: 20px; } }

.footer {
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  background-color: #f98a01; }
  .footer__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px; }
    @media (max-width: 599px) {
      .footer__inner {
        padding-left: 20px;
        padding-right: 20px; } }
    @media (min-width: 600px) {
      .footer__inner {
        -ms-flex-align: start;
            align-items: flex-start; } }
    @media (min-width: 1400px) {
      .footer__inner {
        -ms-flex-align: center;
            align-items: center; } }
  .footer__socials-title {
    margin-bottom: 20px; }
  @media (min-width: 600px) {
    .footer__logo {
      -ms-flex-order: 1;
          order: 1; } }
  .footer__socials {
    -ms-flex-order: 2;
        order: 2;
    color: #fff;
    text-align: right; }

.footer-nav {
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding-left: 90px;
  padding-right: 90px; }
  @media (max-width: 599px) {
    .footer-nav {
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
      margin-top: 20px;
      margin-bottom: 20px; } }
  @media (min-width: 600px) {
    .footer-nav {
      -ms-flex-order: 3;
          order: 3;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-top: 40px; } }
  @media (min-width: 1400px) {
    .footer-nav {
      -ms-flex-order: 2;
          order: 2;
      -ms-flex-preferred-size: inherit;
          flex-basis: inherit;
      margin-top: 0; } }
  .footer-nav__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 599px) {
      .footer-nav__list {
        max-width: 100%;
        margin-left: -20px;
        margin-right: -20px; } }
    @media (min-width: 600px) {
      .footer-nav__list {
        -ms-flex-pack: center;
            justify-content: center; } }
    @media (min-width: 1400px) {
      .footer-nav__list {
        -ms-flex-pack: justify;
            justify-content: space-between; } }
  .footer-nav__link {
    display: inline-block;
    min-width: 120px;
    padding: 10px 20px;
    color: #fff; }
  .footer-nav__inner {
    display: -ms-flexbox;
    display: flex; }

.main-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  min-height: 100vh; }
  .main-content > * {
    width: 100%; }

.hero-wrapper {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%; }
  .hero-wrapper > * {
    width: 100%; }
  .hero-wrapper__main-content {
    -ms-flex-positive: 1;
        flex-grow: 1; }

.section {
  padding-top: 40px;
  padding-bottom: 40px; }

.button {
  padding: 0;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: transparent;
  box-shadow: none;
  display: inline-block;
  min-width: 130px;
  margin-right: 20px;
  padding: 10px 20px;
  border-radius: 2px;
  border: 1px solid transparent;
  background-color: #d4d4d4;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  color: #777777; }
  .button:focus {
    outline: none; }
  @media (max-width: 599px) {
    .button + .button {
      margin-top: 10px; } }
  .button:hover {
    background-color: gainsboro; }
  .button--big {
    min-width: 190px;
    padding: 13px 20px;
    font-size: 18px;
    text-transform: none; }
  .button--full-width {
    display: block;
    width: 100%; }
    .button--full-width + .button--full-width {
      margin-top: 10px; }
  .button[disabled], .button.disabled {
    cursor: default;
    opacity: 0.5; }
    .button[disabled]:hover, .button.disabled:hover {
      background-color: #c5c5c5;
      color: #777777; }
  @media (max-width: 599px) {
    .button {
      width: 100%; } }
  .button--white {
    background-color: white;
    color: #f98a01; }
    .button--white:hover {
      background-color: #fafafa; }
    .button--white.button--hollow {
      border-color: white;
      background-color: transparent;
      color: white; }
      .button--white.button--hollow:hover {
        background-color: white;
        color: #f98a01; }
  .button--orange {
    background-color: #f98a01;
    color: white; }
    .button--orange:hover {
      background-color: #ef8401; }
    .button--orange.button--hollow {
      border-color: #f98a01;
      background-color: transparent;
      color: #f98a01; }
      .button--orange.button--hollow:hover {
        background-color: #f98a01;
        color: white; }
  .button--dark-orange {
    background-color: #F37202;
    color: white; }
    .button--dark-orange:hover {
      background-color: #e96d02; }
    .button--dark-orange.button--hollow {
      border-color: #F37202;
      background-color: transparent;
      color: #F37202; }
      .button--dark-orange.button--hollow:hover {
        background-color: #F37202;
        color: white; }

.event-сard {
  width: 295px;
  min-height: 300px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: center;
      justify-content: center;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  background-color: #fff;
  padding: 20px;
  text-align: center; }
  .event-сard--no-border {
    border: none; }
  .event-сard__img {
    display: block;
    max-height: 129px;
    margin-left: auto;
    margin-right: auto; }
  .event-сard__title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500; }
  .event-сard__dates, .event-сard__description {
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
    font-size: 13px; }
  .event-сard__dates {
    color: #c5c5c5;
    font-weight: 400; }
  .event-сard__description {
    font-weight: 300; }
  .event-сard--bottom-splash {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .event-сard--shadow {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); }
  .event-сard--mini {
    min-height: inherit;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left; }
    .event-сard--mini .event-сard__inner {
      display: -ms-flexbox;
      display: flex; }
    .event-сard--mini .event-сard__img {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      width: 50px; }
    .event-сard--mini .event-сard__title {
      margin-top: 0;
      margin-bottom: 10px; }
    .event-сard--mini .event-сard__text-container {
      padding-left: 20px; }

.header-droplist {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  cursor: pointer;
  padding-right: 15px;
  margin-left: auto;
  margin-right: 20px; }
  .header-droplist:after {
    position: absolute;
    display: block;
    content: '';
    border-top: 5px solid white;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    top: calc(50% - 2px);
    right: 0; }
  .header-droplist:hover .header-droplist__inner {
    display: block; }
  @media (max-width: 599px) {
    .header-droplist {
      margin-right: auto;
      margin-left: 20px; } }
  @media (min-width: 1400px) {
    .header-droplist {
      margin-right: 0px; } }
  .header-droplist__inner {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 230px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); }
    @media (max-width: 599px) {
      .header-droplist__inner {
        left: -20px;
        right: auto; } }
  .header-droplist__list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .header-droplist__list--shadow {
      padding-bottom: 15px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); }
    .header-droplist__list--shadow + .header-droplist__list {
      padding-top: 15px; }
  .header-droplist__link {
    display: block;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 300;
    color: #000;
    text-decoration: none;
    transition: background-color 0.5s; }
    .header-droplist__link:hover {
      background-color: #f5f5f5; }
    .header-droplist__link--icon {
      padding-left: 60px; }
      .header-droplist__link--icon:before {
        content: '';
        position: absolute;
        display: block;
        content: '';
        font-family: 'fontello';
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        top: calc(50% - 15px);
        left: 20px;
        width: 31px;
        height: 31px;
        font-size: 20px;
        color: #c5c5c5;
        text-align: center;
        transition: color 0.5s; }
      .header-droplist__link--icon:hover:before {
        color: #f98a01; }
    .header-droplist__link--icon-profile:before {
      content: '\E806'; }
    .header-droplist__link--icon-pencil:before {
      content: '\E801'; }
    .header-droplist__link--icon-commands:before {
      content: '\E808'; }
    .header-droplist__link--icon-preferences:before {
      content: '\E807'; }
    .header-droplist__link--icon-log-out:before {
      content: '\E804'; }
  .header-droplist__name {
    max-width: 160px;
    margin-right: 15px;
    color: #fff;
    text-overflow: ellipsis;
    font-weight: 500; }
  .header-droplist__ava {
    width: 100%;
    display: block; }
  .header-droplist__ava-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #e07c01; }

.langs {
  display: block;
  padding: 10px;
  margin-top: 20px;
  margin-left: -40px;
  margin-right: -40px;
  background-color: rgba(255, 255, 255, 0.2); }
  @media (min-width: 1400px) {
    .langs {
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-item-align: stretch;
          align-self: stretch;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0; } }
  .langs__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media (min-width: 1800px) {
      .langs__list {
        -ms-flex-pack: start;
            justify-content: flex-start; } }
  .langs__item {
    padding-left: 5px;
    padding-right: 5px; }
  .langs__link {
    display: block;
    padding: 5px;
    transition: background-color 0.5s; }
    .langs__link:hover {
      background-color: rgba(255, 255, 255, 0.4); }
  .langs__flag {
    display: block;
    width: 35px;
    height: 26px; }
    @media (min-width: 1400px) {
      .langs__flag {
        width: 27px;
        height: 20px; } }

.navigation {
  -ms-flex-positive: 1;
      flex-grow: 1; }
  .navigation__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block; }
    @media (max-width: 599px) {
      .navigation__list {
        margin-top: 20px;
        margin-bottom: 20px; } }
    @media (min-width: 1400px) {
      .navigation__list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center; } }
  .navigation__link {
    display: block;
    padding: 20px 10px;
    border-bottom: 3px solid transparent;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: border-color 0.5s; }
    @media (min-width: 1800px) {
      .navigation__link {
        text-align: left; }
        .navigation__link:hover {
          border-bottom: 3px solid white; } }

.socials__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end; }
  .socials__list--start {
    -ms-flex-pack: start;
        justify-content: flex-start; }

.socials__title {
  font-weight: 300;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px; }

.socials__link {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font-size: 31px;
  transition: background-color 0.5s; }
  .socials__link:before {
    content: '';
    font-family: 'fontello';
    color: #fff;
    transition: color 0.5s; }
  .socials__link--vk {
    background-color: #4d77a1; }
    .socials__link--vk:before {
      content: '\E80A'; }
  .socials__link--fb {
    background-color: #465993; }
    .socials__link--fb:before {
      content: '\E816'; }
  .socials__link--yt:before {
    content: '\E809'; }
  .socials__link--inst:before {
    content: '\E803'; }
  .socials__link:hover {
    background-color: #f98a01; }

.socials__item + .socials__item {
  margin-left: 15px; }

.socials--white .socials__link {
  background-color: rgba(255, 255, 255, 0.2); }
  .socials--white .socials__link:hover {
    background-color: #fff; }
    .socials--white .socials__link:hover:before {
      color: #f98a01; }

.socials--space-between {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
  .socials--space-between .socials__list {
    margin-left: 20px; }

@media (max-width: 599px) {
  .widjet {
    padding: 0; }
    .widjet + .widjet {
      margin-top: 40px; } }

@media (min-width: 600px) {
  .widjet {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px; } }

@media (min-width: 1400px) {
  .widjet {
    display: block;
    padding: 0; } }

.widjet__title {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400; }
  @media (min-width: 600px) {
    .widjet__title {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: end;
          align-items: flex-end;
      height: 50px; } }
  @media (min-width: 1800px) {
    .widjet__title {
      max-height: none; } }

.widjet__inner {
  padding: 20px 0;
  border-radius: 3px;
  background: #fff; }
  @media (min-width: 600px) {
    .widjet__inner {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-positive: 1;
          flex-grow: 1;
      -ms-flex-item-align: stretch;
          align-self: stretch; } }
  .widjet__inner--pillow {
    padding: 20px; }

.widjet__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (min-width: 600px) {
    .widjet__list {
      -ms-flex-positive: 1;
          flex-grow: 1; } }
  .widjet__list--columed {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .widjet__list--columed .widjet__wrap-link--pillow {
      padding: 8px 5px; }
    .widjet__list--columed .widjet__item {
      -ms-flex-preferred-size: calc(50% - 5px);
          flex-basis: calc(50% - 5px);
      display: -ms-flexbox;
      display: flex; }

.widjet__thumb {
  max-width: 100%; }

.widjet__link {
  padding-left: 20px;
  padding-right: 20px; }

.widjet__item {
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%; }
  @media (min-width: 600px) {
    .widjet__item--separator {
      -ms-flex-align: center;
          align-items: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: justify;
          justify-content: space-between; } }
  @media (min-width: 1400px) {
    .widjet__item--separator {
      display: block; } }
  .widjet__item--separator + .widjet__item--separator:before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f5f5; }

.widjet__avatar {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 60px;
  height: 60px; }

.widjet__text, .widjet__time {
  -ms-flex-positive: 1;
      flex-grow: 1;
  max-width: 280px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  color: black; }

.widjet__text {
  font-size: 15px;
  font-weight: 500; }

.widjet__time {
  font-size: 12px;
  font-weight: 300; }

.widjet__count {
  font-size: 13px;
  color: #777777; }

.widjet__wrap-link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #fff;
  text-decoration: none; }
  .widjet__wrap-link:hover .widjet__text {
    text-decoration: underline; }
  .widjet__wrap-link:hover .video-thumb-wrapper:before {
    color: #f98a01; }
  .widjet__wrap-link--pillow {
    padding: 10px; }

.widjet__video-item + .widjet__video-item {
  margin-top: 25px; }

.widjet__show-more {
  margin-top: 10px;
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  color: #f98a01;
  text-decoration: none; }
  @media (min-width: 300px) {
    .widjet__show-more {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-item-align: stretch;
          align-self: stretch;
      -ms-flex-pack: end;
          justify-content: flex-end; } }
  @media (min-width: 1800px) {
    .widjet__show-more {
      display: block; } }

.widjet__thumb {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

.avatar__flag-container {
  position: absolute;
  right: -3px;
  bottom: 10px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 0 3px white; }

.avatar__flag {
  display: block;
  width: 18px;
  height: 12px; }

@media (min-width: 600px) {
  .widjet-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (min-width: 1400px) {
  .widjet-wrapper {
    display: block; } }

.video-thumb-wrapper {
  position: relative;
  margin-bottom: 10px; }
  .video-thumb-wrapper:before {
    position: absolute;
    display: block;
    content: '';
    font-family: 'fontello';
    content: '\E809';
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.6);
    font-size: 40px; }

.logo {
  display: inline-block; }
  .logo--middle {
    max-width: 150px;
    max-height: 22px; }

.countdown {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px; }
  .countdown--fat {
    font-weight: 500;
    font-size: 22px; }
  .countdown--orange {
    color: #f98a01; }
  .countdown__item {
    text-align: center; }
  .countdown--rounded .countdown__item {
    width: 50px;
    height: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    border-radius: 50px;
    background-color: #f5f5f5;
    text-align: center; }

.time-table__slider {
  padding-bottom: 50px; }

.time-table__slide {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.slider__button {
  padding: 0;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: transparent;
  box-shadow: none;
  font-family: 'fontello';
  display: inline-block;
  float: none;
  vertical-align: middle; }
  .slider__button:focus {
    outline: none; }
  .slider__button + .slider__button {
    margin-left: 20px; }
  .slider__button--prev {
    transform: scale(-1, 1); }
  .slider__button:before {
    content: '\E800';
    display: block;
    font-size: 32px;
    color: #f98a01; }

@media (min-width: 300px) {
  .blog {
    margin-top: 40px; } }

@media (min-width: 1400px) {
  .blog {
    margin-top: 0px; } }

.blog__item {
  background-color: #fff; }
  .blog__item + .blog__item {
    margin-top: 40px; }

.blog__image-wrapper {
  overflow: hidden;
  max-height: 400px; }

.blog__image {
  display: block;
  width: 100%; }

.blog__text-content {
  padding: 20px; }
  @media (min-width: 600px) {
    .blog__text-content {
      padding: 40px; } }

.blog__title {
  max-width: 700px;
  margin-bottom: 20px; }
  @media (min-width: 300px) {
    .blog__title {
      font-size: calc(17.27273px + 0.90909vw); } }
  @media (min-width: 1400px) {
    .blog__title {
      font-size: 30px;
      line-height: 1.25em; } }

.blog__text {
  max-width: 700px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px; }

.blog__after-blog {
  margin-top: 20px; }

@media (max-width: 599px) {
  .blog__button {
    display: block; } }

.mobile-navigation {
  position: fixed;
  left: 100%;
  top: 0;
  overflow: auto;
  height: 100%;
  z-index: 140;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background-color: #f98a01;
  transition: transform 0.5s; }
  @media (max-width: 599px) {
    .mobile-navigation {
      max-width: 280px; }
      .mobile-navigation.show {
        transform: translateX(-280px); } }
  @media (min-width: 600px) {
    .mobile-navigation {
      width: 50vw; }
      .mobile-navigation.show {
        transform: translateX(-50vw); } }
  @media (min-width: 1400px) {
    .mobile-navigation {
      position: static;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-positive: 1;
          flex-grow: 1;
      width: auto;
      height: auto;
      padding-top: 0;
      padding-bottom: 0; } }
  .mobile-navigation__close {
    height: 73px;
    width: 73px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    margin-left: auto;
    margin-right: -40px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    cursor: pointer; }
    @media (min-width: 300px) {
      .mobile-navigation__close {
        display: -ms-flexbox;
        display: flex; } }
    @media (min-width: 1400px) {
      .mobile-navigation__close {
        display: none; } }

.mobile-burger {
  padding: 20px 24px;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  cursor: pointer; }
  @media (max-width: 599px) {
    .mobile-burger {
      border-left: none; } }

.form__error {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  font-size: 12px;
  color: #FF5757; }

.form__row {
  margin-left: -20px;
  margin-right: -20px; }
  .form__row + .form__row {
    margin-top: 50px; }

.form__input-wrapper {
  position: relative;
  display: block;
  width: 100%;
  max-width: 370px;
  margin-bottom: 30px; }
  .form__input-wrapper--has-error .form__input {
    box-shadow: inset 0px -2px 0 -1px #FF5757; }

.form__input, .form__input-placeholder {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 11px; }

.form__input {
  width: 100%;
  color: black;
  border: none;
  background-image: linear-gradient(#f98a01, #f98a01), linear-gradient(#c5c5c5, #c5c5c5);
  background-size: 0 1px, 100% 1px;
  background-repeat: no-repeat;
  background-position: left bottom, left bottom;
  background-color: transparent;
  transition: background-size 0.5s cubic-bezier(0.25, 0.1, 0.25, 1); }
  .form__input:focus {
    outline: none; }
  .form__input:required, .form__input:invalid {
    box-shadow: none; }

.form__input-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), font-size 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transform-origin: 0;
  color: #f98a01; }

.form__input {
  padding-left: 15px;
  padding-right: 15px; }
  .form__input:focus, .form__input.freeze {
    background-image: linear-gradient(#f98a01, #f98a01), linear-gradient(#c5c5c5, #c5c5c5);
    background-size: 100% 1px, 100% 1px; }
    .form__input:focus + .form__input-placeholder, .form__input.freeze + .form__input-placeholder {
      transform: translate(0, -30px) scale(0.7);
      color: #f98a01; }
  .input-wrapper--icon .form__input {
    padding-right: 35px; }

.form__links-container, .form__button-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }

.form__button-container {
  margin-top: 30px; }
  @media (max-width: 599px) {
    .form__button-container {
      display: block; }
      .form__button-container .button:first-child {
        margin-bottom: 20px; } }

.form__links-container .link:first-child {
  padding-right: 20px;
  text-align: left; }

.form__links-container .link:last-child {
  padding-left: 20px;
  text-align: right; }

.form__socials {
  margin-bottom: 20px; }

.form__label {
  display: block;
  font-weight: 300; }

.form__textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  padding: 20px;
  margin-top: 20px;
  border: none;
  background-color: #fff;
  resize: vertical;
  outline: none; }

.form__send-again-link {
  display: block;
  margin-top: 20px;
  text-align: right; }

.popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 110;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85); }
  .popup__inner {
    max-width: 640px;
    width: 100%;
    padding-left: 70px;
    padding-right: 70px; }
    @media (max-width: 599px) {
      .popup__inner {
        padding-left: 0;
        padding-right: 0; } }
  .popup__body {
    position: relative;
    margin-top: 15px;
    border-radius: 3px;
    background-color: #fff; }
    @media (min-width: 300px) {
      .popup__body {
        padding: 20px 30px; } }
    @media (min-width: 900px) {
      .popup__body {
        padding: 40px 60px; } }
  .popup__title {
    text-align: center;
    line-height: 50px;
    font-size: calc(14.54545px + 1.81818vw);
    color: #fff;
    font-weight: 300; }
    @media (max-width: 599px) {
      .popup__title {
        padding-right: 60px;
        padding-left: 20px;
        text-align: left; } }
  .popup__close {
    position: absolute;
    left: calc(100% + 30px);
    top: 20px;
    color: #fff;
    font-size: 30px; }
    @media (max-width: 599px) {
      .popup__close {
        bottom: calc(100% + 23px);
        top: auto;
        left: auto;
        right: 15px;
        padding-left: 0;
        padding-right: 0; } }

.checkbox {
  display: none; }
  .checkbox:checked + .pseudo-checkbox:before {
    content: '\E802';
    background-color: #fff;
    border-color: #f98a01; }

.pseudo-checkbox {
  position: relative;
  padding-left: 40px;
  font-size: 15px;
  color: #777777;
  cursor: pointer; }
  .pseudo-checkbox:before {
    position: absolute;
    display: block;
    content: '';
    font-family: 'fontello';
    top: calc(50% - 15px);
    left: 0;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    border: 2px solid transparent;
    background-color: #c5c5c5;
    text-align: center;
    color: #f98a01;
    line-height: 30px;
    transition: border-color 0.5s, background-color 0.5s; }

.banner {
  position: relative;
  background-image: url(../img/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center center; }
  .banner:before {
    position: absolute;
    display: block;
    content: '';
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15); }
  .banner__timer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (min-width: 300px) {
      .banner__timer {
        -ms-flex-pack: center;
            justify-content: center; } }
    @media (min-width: 1400px) {
      .banner__timer {
        -ms-flex-pack: end;
            justify-content: flex-end; } }
  .banner__close-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right; }
  .banner__text-container {
    padding-top: 20px;
    padding-bottom: 20px; }
  .banner__close-link {
    color: #fff;
    text-decoration: none; }
  .banner__p {
    margin-bottom: 0; }

.members__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (min-width: 300px) {
    .members__list {
      -ms-flex-pack: center;
          justify-content: center; } }
  @media (min-width: 900px) {
    .members__list {
      -ms-flex-pack: start;
          justify-content: flex-start; } }

.member {
  position: relative;
  max-width: 400px;
  padding: 20px 40px;
  margin-right: 30px;
  margin-bottom: 30px;
  box-shadow: 0 3px 10px 3px #f5f5f5;
  transition: box-shadow 0.5s; }
  @media (max-width: 599px) {
    .member {
      padding-left: 20px;
      padding-right: 20px; } }
  .member:hover {
    box-shadow: 0 6px 13px 4px #ededed; }
    .member:hover .member__icon {
      color: #f98a01; }
  .member--self {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: none; }
    .member--self:hover .member__name {
      text-decoration: underline;
      color: #f98a01; }
    .member--self:hover {
      box-shadow: none; }
  .member__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: center;
        align-items: center;
    text-decoration: none;
    color: black; }
  .member__avatar-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%; }
  .member__avatar {
    width: 100%; }
  .member__info {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .member__name {
    margin-bottom: 10px;
    font-size: 17px; }
  .member__country {
    display: inline-block;
    float: none;
    vertical-align: middle;
    font-size: 15px; }
  .member__count {
    margin-top: 10px;
    font-size: 13px;
    color: #c5c5c5; }
  .member__icon {
    position: absolute;
    right: 15px;
    bottom: 15px;
    transform: scale(-1, 1);
    color: #c5c5c5; }

@media (min-width: 300px) {
  .text-content {
    padding-left: 20px;
    padding-right: 20px; } }

.text-content h1, .text-content h2, .text-content h3, .text-content h4, .text-content h5, .text-content .h1, .text-content .h2, .text-content .h3, .text-content .h4, .text-content .h5 {
  margin-top: .4em; }

.text-content__img {
  display: block;
  max-width: 700px;
  width: 100%;
  margin-bottom: 10px; }

.text-content__signature {
  max-width: 700px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
  font-style: italic;
  color: #c5c5c5;
  font-weight: 300; }

.text-content__button-area {
  margin-top: 50px;
  margin-bottom: 50px; }

.text-content__quote {
  max-width: 700px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 0;
  font-style: italic;
  font-weight: 300; }

.text-content__img-wrapper {
  margin-bottom: 20px; }

.text-content__table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 40px;
  border: 1px solid #ededed; }
  .text-content__table td, .text-content__table th {
    padding: 10px;
    border: 1px solid #ededed;
    text-align: center;
    vertical-align: middle; }
  .text-content__table thead {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15); }
  .text-content__table th {
    color: #f98a01;
    border: none;
    border-left: 1px solid #ededed; }
  .text-content__table td {
    border-top: none;
    border-bottom: none; }
  .text-content__table tr:nth-child(2n + 2) {
    background-color: #ededed; }
  .text-content__table--orange {
    border: none; }
    .text-content__table--orange thead {
      box-shadow: none; }
    .text-content__table--orange td, .text-content__table--orange th {
      border: 1px solid #f98a01;
      box-shadow: none; }
    .text-content__table--orange th {
      color: #fff;
      background-color: #f98a01; }

.pagination {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 15px; }
  .pagination__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;
    border-radius: 3px; }
  .pagination__item {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    border: 1px solid #ededed; }
    .pagination__item:first-child, .pagination__item:last-child {
      min-width: 90px;
      background-color: #f98a01;
      border: 1px solid #f98a01; }
      .pagination__item:first-child:hover, .pagination__item:last-child:hover {
        background-color: #fe910b; }
      .pagination__item:first-child .pagination__link, .pagination__item:last-child .pagination__link {
        color: white; }
      @media (max-width: 599px) {
        .pagination__item:first-child, .pagination__item:last-child {
          -ms-flex-positive: 1;
              flex-grow: 1;
          width: 100%; } }
    @media (max-width: 599px) {
      .pagination__item:first-child {
        margin-bottom: 20px; } }
    @media (max-width: 599px) {
      .pagination__item:last-child {
        margin-top: 20px; } }
    .pagination__item:hover {
      background-color: #ededed; }
    .pagination__item.active {
      color: #f98a01; }
    .pagination__item.disabled:first-child, .pagination__item.disabled:last-child {
      background-color: #fff;
      border: 1px solid #ededed; }
      .pagination__item.disabled:first-child:hover, .pagination__item.disabled:last-child:hover {
        background-color: white; }
      .pagination__item.disabled:first-child .pagination__link, .pagination__item.disabled:last-child .pagination__link {
        cursor: default;
        color: #c5c5c5; }
  .pagination__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-positive: 1;
        flex-grow: 1;
    min-width: 30px;
    min-height: 30px;
    text-decoration: none;
    text-align: center;
    color: #000; }
    .pagination__link.active {
      color: #f98a01; }

.sharing {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px; }
  .sharing__link {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    padding: 5px 15px 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    vertical-align: middle; }
    .sharing__link--fb {
      background-color: #465993; }
      .sharing__link--fb:hover {
        background-color: #4b5f9d; }
    .sharing__link--vk {
      background-color: #4d77a1; }
      .sharing__link--vk:hover {
        background-color: #527fab; }
  .sharing__title {
    margin-right: 20px; }
    @media (max-width: 599px) {
      .sharing__title {
        display: block;
        width: 100%; } }
  .sharing__icon {
    margin-right: 10px; }
  .sharing__text {
    position: relative;
    bottom: -1px; }
  .sharing__date {
    color: #c5c5c5; }

.profile__get-back {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.profile__title--verified {
  padding-right: 30px; }
  .profile__title--verified:after {
    font-family: 'fontello';
    position: relative;
    top: -20px;
    display: inline-block;
    vertical-align: top;
    color: #f98a01;
    content: '\E80D';
    font-weight: 300;
    font-size: 30px; }
    @media (max-width: 599px) {
      .profile__title--verified:after {
        font-size: 20px;
        top: -10px; } }

.profile__face-area {
  display: block;
  margin-bottom: 50px; }
  @media (max-width: 599px) {
    .profile__face-area {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px; } }

.profile__edit-area {
  margin-bottom: 50px; }
  @media (max-width: 599px) {
    .profile__edit-area {
      margin-bottom: 25px; } }

.profile__header, .profile__body {
  padding-top: 50px; }
  @media (max-width: 599px) {
    .profile__header, .profile__body {
      padding-top: 25px; } }

.profile__header {
  padding-left: 20px;
  padding-right: 20px; }

.profile__thumb {
  position: relative;
  display: block;
  max-width: 300px;
  height: 300px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .profile__thumb--darker:before {
    position: absolute;
    display: block;
    content: '';
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5); }

.profile__thumb-text {
  position: absolute;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding-left: 20px;
  padding-right: 20px;
  border: 2px dashed #f98a01;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center; }

@media (min-width: 900px) {
  .profile__form, .profile__info {
    max-width: 550px; } }

.profile__text {
  font-size: 17px;
  font-weight: 400; }

.profile__row {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -20px;
  margin-right: -20px; }

.profile__about-me {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  margin-top: 40px; }

.profile__watch-area {
  margin-bottom: 50px; }

.profile__capitan-status {
  position: relative;
  top: -10px; }

@media (max-width: 599px) {
  .profile__capitan-city {
    display: block; } }

.profile__capitan-link {
  margin-right: 20px; }

.profile__info {
  margin-top: 20px; }
  @media (max-width: 599px) {
    .profile__info {
      margin-top: 10px; } }

.get-back {
  text-decoration: none;
  color: #f98a01; }
  .get-back__icon {
    margin-right: 5px; }
    .get-back__icon--inverted {
      transform: scale(-1, 1); }
  .get-back__text {
    font-size: 17px;
    font-weight: 500; }

.select2-container--default .select2-selection--single {
  height: auto;
  border: none;
  border-radius: 3px;
  padding: 8px 37px 8px 10px;
  font-size: 17px; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 17px;
  height: 17px;
  top: calc(50% - 9px);
  right: 15px;
  transform: rotate(90deg);
  transform-origin: 50% 50%;
  transition: transform 0.5s;
  color: #c5c5c5; }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none; }
  .select2-container--default .select2-selection--single .select2-selection__arrow:after {
    position: absolute;
    display: block;
    content: '';
    font-family: 'fontello';
    content: '\E800'; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
  transform: rotate(0deg); }

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: none;
  background-image: linear-gradient(#f98a01, #f98a01), linear-gradient(#c5c5c5, #c5c5c5);
  background-size: 0 1px, 100% 1px;
  background-repeat: no-repeat;
  background-position: left bottom, left bottom;
  background-color: transparent;
  transition: background-size 0.5s cubic-bezier(0.25, 0.1, 0.25, 1); }
  .select2-container--default .select2-search--dropdown .select2-search__field:focus {
    outline: none; }
  .select2-container--default .select2-search--dropdown .select2-search__field:required, .select2-container--default .select2-search--dropdown .select2-search__field:invalid {
    box-shadow: none; }
  .select2-container--default .select2-search--dropdown .select2-search__field:focus, .select2-container--default .select2-search--dropdown .select2-search__field.freeze {
    background-image: linear-gradient(#f98a01, #f98a01), linear-gradient(#c5c5c5, #c5c5c5);
    background-size: 100% 1px, 100% 1px; }
    .select2-container--default .select2-search--dropdown .select2-search__field:focus + .form__input-placeholder, .select2-container--default .select2-search--dropdown .select2-search__field.freeze + .form__input-placeholder {
      transform: translate(0, -30px) scale(0.7);
      color: #f98a01; }

.select2-dropdown {
  overflow: hidden;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); }

.select2-search--dropdown {
  margin-bottom: 10px;
  padding: 10px 15px;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: rgba(249, 138, 1, 0.5); }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f98a01;
  color: #fff; }

@media (max-width: 599px) {
  .select2-container {
    margin-top: 20px; } }

.input-wrapper {
  position: relative; }
  .input-wrapper--icon:after {
    position: absolute;
    display: block;
    content: '';
    font-family: 'fontello';
    top: calc(50% - 10px);
    right: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    color: #fff; }
  .input-wrapper--ok:after {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #44b759;
    content: '\E80E'; }
  .input-wrapper--wrong:after {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FF5757;
    content: '\E802';
    font-size: 8px; }

.flag {
  display: inline-block;
  float: none;
  vertical-align: middle;
  width: 16px;
  height: 12px; }

.community__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.community__item {
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 200px; }

.community__item-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-decoration: none; }
  .community__item-inner:hover .community__name {
    text-decoration: underline; }

.community__avatar {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 60px;
  height: 60px; }

.community__text, .community__time {
  -ms-flex-positive: 1;
      flex-grow: 1;
  max-width: 280px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  color: black; }

.community__text {
  font-size: 15px;
  font-weight: 500; }

.community__rang {
  font-size: 12px;
  color: #b8b8b8; }

.notice {
  margin-bottom: 10px;
  font-size: 13px;
  color: #fff; }
  .notice__inner {
    display: inline-block;
    float: none;
    vertical-align: middle;
    position: relative;
    padding: 8px 20px;
    border-radius: 3px;
    background-color: #f98a01; }
  .notice--danger .notice__inner {
    background-color: #FF5757; }
  .notice--ok .notice__inner {
    background-color: #44b759; }
  .notice__close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 8px; }

.bg--gray {
  background-color: #f5f5f5; }

.shadow-shooter {
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15); }

.white.h1, .white.h2, .white.h3, .white.h4, .white.p {
  color: white; }

.orange.h1, .orange.h2, .orange.h3, .orange.h4, .orange.p {
  color: #f98a01; }

.inlined {
  display: inline-block;
  float: none;
  vertical-align: middle; }

.text-center {
  text-align: center; }

.text-uppercase {
  text-transform: uppercase; }

.dblock {
  display: block; }

.dnone {
  display: none; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.hide-on-desktop-up {
  display: block; }
  @media (min-width: 1400px) {
    .hide-on-desktop-up {
      display: none; } }

/*# sourceMappingURL=index.css.map */
