
@mixin generateGridByType($type, $grid-columns){
    @for $i from 1 through $grid-columns {
        $partOfWidth: $wrapper-width * ($i / $grid-columns);
        $partOfWidthInverted: $wrapper-width - $wrapper-width * ($i / $grid-columns);

        .col-#{$type}-#{$i} {
            flex-basis: percentage($i / $grid-columns);
            max-width: percentage($i / $grid-columns);
            flex-grow: 0;
            flex-shrink: 1;
        }
        .col-#{$type}-offset-#{$i} {
            margin-left:percentage($i / $grid-columns);
        }
        .col-#{$type}-#{$i}--stretchy {
            flex-basis: calc(100% - #{$partOfWidthInverted});
            max-width: calc(100% - #{$partOfWidthInverted});
        }
        .col-#{$type}-#{$i}--fixed {
            flex-basis: $partOfWidth;
            max-width: $partOfWidth;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    .justify-#{$type}-between {
        justify-content:space-between;
    }

    .justify-#{$type}-end {
        justify-content: flex-end;
    }

    .self-#{$type}-end {
        align-self: flex-end;
    }

    .self-#{$type}-center {
        align-self: center;
    }

    .align-#{$type}-center {
        align-items: center;
    }

    .no-#{$type}-paddings {
        padding-left: 0;
        padding-right: 0;
    }

    .order-#{$type}-1{
        order:1;
    }

    .order-#{$type}-2{
        order:2;
    }
}

[class*="col-"] {
    padding-left: $columnInnerPadding;
    padding-right: $columnInnerPadding;
}

.half-paddings {
    padding-left: $columnInnerPadding/2;
    padding-right: $columnInnerPadding/2;
}

$columns: 12;

@include generateGridByType('xs', $columns);


@include for-tablet-portrait-up {
    @include generateGridByType('sm', $columns);
}


@include for-tablet-landscape-up {
    @include generateGridByType('md', $columns);
}


@include for-desktop-up {
    @include generateGridByType('lg', $columns);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}