$orange:              #f98a01;
$oranger:             #F37202;
$tomato:              #FF5757;
$green:               #44b759;

$light-gray:          #f5f5f5;
$almost-light-gray:   #ededed;
$gray:                #c5c5c5;
$dark-gray:           #777777;
$darkest-gray:        #1f1f1f;

$fb:                  #465993;
$vk:                  #4d77a1;

