.footer {
  flex-grow: 0;
  flex-shrink: 1;

  background-color: $orange;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding-top: 40px;
    padding-bottom: 40px;

    @include for-phone-only {
      padding-left: 20px;
      padding-right: 20px;
    }

      @include for-tablet-portrait-up {
      align-items: flex-start;
    }

    @include for-desktop-up {
      align-items: center;
    }
  }

  &__socials-title {
    margin-bottom: 20px;
  }

  &__logo {
    @include for-tablet-portrait-up {
      order: 1;
    }
  }

  &__socials {
    order: 2;

    color: #fff;
    text-align: right;
  }
}

.footer-nav {
  flex-grow: 1;

  padding-left: 90px;
  padding-right: 90px;

  @include for-phone-only {
    width: 100%;

    padding-left: 0px;
    padding-right: 0px;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  @include for-tablet-portrait-up {
    order: 3;
    flex-basis: 100%;

    padding-left: 0;
    padding-right: 0;

    margin-top: 40px;
  }

  @include for-desktop-up {
    order:2;
    flex-basis: inherit;

    margin-top: 0;
  }

  &__list {
    @include reset-ul;
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;

    margin-left: auto;
    margin-right: auto;

    @include for-phone-only {
      max-width: 100% ;

      margin-left: -20px;
      margin-right: -20px;
    }

    @include for-tablet-portrait-up {
      justify-content: center;
    }

    @include for-desktop-up {
      justify-content: space-between;
    }
  }

  &__link {
    display: inline-block;
    min-width: 120px;

    padding: 10px 20px;

    color: #fff;
  }

  &__inner {
    display: flex;
  }
}