.header {
  flex-grow: 0;
  flex-shrink: 1;

  z-index: 10;

  background-color: $orange;

  &__logo {
    @include for-phone-only {
      width: 100%;

      padding: 10px 20px;

      text-align: center;
    }

    &--aside {
      @include for-phone-only {
        width: auto;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding-right: 0;

    @include for-phone-up {
      height: auto;
    }

    @include for-desktop-up {
      height: 100%;

      padding-right: 40px;
    }
  }

  &__buttons-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include for-phone-up {
      width: 100%;

      margin-top: 50px;

      padding-left: 20px;
      padding-right: 20px;
    }

    @include for-desktop-up {
      width: auto;

      margin-top: 0;

      padding-left: 40px;
      padding-right: 0;
    }
  }

  &__button {

    @include for-phone-up {
      width: 100%;

      margin-bottom: 20px;
    }

    @include for-tablet-landscape-up {
      width: auto;

      margin-bottom: 0;

      & + & {
        margin-left: 20px;
      }
    }
  }
}

