.hero-wrapper {
  flex-grow: 1;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  flex-direction: column;

  width: 100%;

  & > *{
    width: 100%;
  }

  &__main-content {
    flex-grow: 1;
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}