.main-screen {
  display: flex;

  background-size: cover;
  background-image: url(../img/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center top;

  padding-top: 40px;

  @include for-tablet-landscape-up {
    height:530px;
  }

  &__row {
    align-self: flex-end;
    height: 100%;
  }

  &__wrapper {
    height: 100%;
  }

  &__p {
    margin-bottom: 2em;

    font-size: 16px;
  }

  &__anonce {
    margin-bottom: 50px;

    @include for-phone-only {
      text-align: center;
    }
  }

  &__timer {
    display: flex;
    padding: 0;
    justify-content: space-between;

    @include for-phone-only {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include for-tablet-landscape-up {
      padding-left: 30px;
      justify-content: flex-start;
    }
  }

  &__link {
    align-self: flex-end;
    color: #fff;

    padding: 10px 25px;

    background-color: $orange;

    font-size: 12px;
    font-weight: 500;
    text-align: center;

    @include for-phone-only {
      flex-grow: 1;
      flex-basis: 100%;
      flex-wrap: wrap;
      max-width: 280px;

      margin-bottom: 20px;
    }
  }
}