.banner {
  position: relative;

  background-image: url(../img/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center center;

  &:before {
    @include pseudo-elem;
    z-index: 0;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: transparentize(black, .85);
  }

  &__timer {
    display: flex;
    flex-wrap: wrap;

    @include for-phone-up {
      justify-content: center;
    }

    @include for-desktop-up {
      justify-content: flex-end;
    }
  }

  &__close-container {
    width: 100%;

    margin-top: 20px;
    margin-bottom: 20px;

    text-align: right;
  }

  &__text-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__close-link {
    color: #fff;
    text-decoration: none;
  }

  &__p {
    margin-bottom: 0;
  }
}