.blog {

  @include for-phone-up {
    margin-top: 40px;
  }

  @include for-desktop-up {
    margin-top: 0px;
  }

  &__item {
    background-color: #fff;

    & + & {
      margin-top: 40px;
    }
  }

  &__image-wrapper {
    overflow: hidden;
    max-height: 400px;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__text-content {
    padding: 20px;

    @include for-tablet-portrait-up {
      padding: 40px;
    }
  }

  &__title {
    max-width: 700px;

    margin-bottom: 20px;

    @include for-phone-up {
      font-size: between(20px, 30px, $phone-from, $desktop);
    }

    @include for-desktop-up {
      font-size: 30px;
      line-height: 1.25em;
    }
  }

  &__text {
    max-width: 700px;

    margin-bottom: 20px;

    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  }

  &__after-blog {
    margin-top: 20px;
  }

  &__button {
    @include for-phone-only {
      display: block;
    }
  }
}