.button {
  @include resetButton;

  display: inline-block;
  min-width: 130px;

  margin-right: 20px;

  padding: 10px 20px;

  border-radius: 2px;
  border: 1px solid transparent ;

  background-color: lighten($gray, 6%);

  text-align: center;
  text-decoration: none;
  font-size: 15px;

  color: $dark-gray;

  @include for-phone-only {
    & + & {
      margin-top: 10px;
    }
  }


  &:hover {
    background-color: lighten($gray, 9%);
  }

  &--big {
    min-width: 190px;
    padding: 13px 20px;

    font-size: 18px;
    text-transform: none;
  }

  &--full-width {
    display: block;
    width: 100%;

    & + & {
      margin-top: 10px;
    }
  }

  &[disabled], &.disabled{
    cursor: default;

    opacity: 0.5;

    &:hover {
      background-color: $gray;
      color: $dark-gray;
    }
  }

  @include for-phone-only {
    width: 100%;
  }

  &--white{
    @include colorizeButton(white, $orange);
  }

  &--orange{
    @include colorizeButton($orange, white);
  }

  &--dark-orange {
    @include colorizeButton($oranger, white);
  }
}