.checkbox {
  display: none;

  &:checked + .pseudo-checkbox:before {
    content:'\E802';

    background-color: #fff;

    border-color: $orange;
  }
}

.pseudo-checkbox {
  position: relative;

  padding-left: 40px;

  font-size: 15px;
  color: $dark-gray;

  cursor: pointer;

  &:before {
    @include pseudo-elem;
    @include fontello;
    top: calc(50% - 15px);
    left: 0;

    width: 28px;
    height: 28px;

    border-radius: 3px;
    border: 2px solid transparent;

    background-color: $gray;

    text-align: center;
    color: $orange;
    line-height: 30px;

    transition: border-color $transition-time, background-color $transition-time;
  }
}