.community {
  &__list {
    @include reset-ul;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 20px;
    margin-bottom: 20px;

    max-width: 200px;
  }

  &__item-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-basis: 100%  ;

    text-decoration: none;

    &:hover {
      .community__name {
        text-decoration: underline;
      }
    }
  }

  &__avatar {
    position: relative;

    flex-shrink: 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius:50%;

    width: 60px;
    height: 60px;
  }

  &__text, &__time {
    flex-grow: 1;
    max-width: 280px;

    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
    color: black;
  }

  &__text {
    font-size: 15px;
    font-weight: 500;
  }

  &__rang {
    font-size: 12px;
    color: darken($gray, 5%);
  }
}