.countdown {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin-left:auto;
  margin-right:auto;

  font-size: 18px;

  &--fat {
    font-weight: 500;
    font-size: 22px;
  }

  &--orange {
    color: $orange;
  }

  &__item {
    text-align: center;
  }

  &--rounded &__item {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius:50px;

    background-color: $light-gray;

    text-align: center;
  }
}

