.event-сard {
  width:295px;
  min-height: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  border-radius: 5px;
  border: 1px solid $light-gray;
  
  background-color: #fff;

  padding: 20px;

  text-align: center;

  &--no-border {
    border: none;
  }

  &__img {
    display: block;
    max-height: 129px;

    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 16px;
    font-weight: 500;
  }

  &__dates,  &__description {
    margin-bottom: 1em;
    margin-top: 1em;

    text-align: center;
    font-size: 13px;
  }

  &__dates {
    color: $gray;
    font-weight: 400;
  }

  &__description {
    font-weight: 300;
  }

  &--bottom-splash {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &--shadow {
    box-shadow: 0px 10px 20px transparentize(black, .9);
  }

  &--mini {
    min-height: inherit;

    padding-top: 30px;
    padding-bottom: 30px;

    text-align: left;

    & .event-сard__inner {
      display: flex;
    }

    & .event-сard__img {
      align-self: center;

      width: 50px;
    }

    & .event-сard__title {
      margin-top: 0;
      margin-bottom: 10px;
    }

    & .event-сard__text-container {
      padding-left: 20px;
    }
  }
}