.form {
  &__error {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;

    width: 100%;

    font-size: 12px;
    color: $tomato;
  }
  
  &__row {
    & + & {
      margin-top: 50px;
    }

    margin-left: -20px;
    margin-right: -20px;
  }

  &__input-wrapper  {
    position: relative;
    display: block;
    width: 100%;
    max-width: 370px;

    margin-bottom: 30px;

    &--has-error {
      .form__input {
        box-shadow: inset 0px -2px 0 -1px $tomato;
      }
    }
  }

  &__input, &__input-placeholder {
    font-size: 18px;

    padding-top: 10px;
    padding-bottom: 11px;
  }

  &__input {
    width: 100%;

    color: black;

    @include resetInput;

    background-image: linear-gradient($orange, $orange), linear-gradient($gray, $gray);
    background-size: 0 1px, 100% 1px;
    background-repeat: no-repeat;
    background-position: left bottom, left bottom;
    background-color: transparent;

    transition: background-size $transition-time cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  &__input-placeholder {
    position: absolute;
    top: 0;
    left: 0;

    transition: transform $transition-time cubic-bezier(.250, .100, .250, 1.000),
    color $transition-time cubic-bezier(.250, .100, .250, 1.000),
    font-size $transition-time cubic-bezier(.250, .100, .250, 1.000);
    transform-origin: 0;

    color: $orange;
  }

  &__input {
    padding-left: 15px;
    padding-right: 15px;

    &:focus, &.freeze {
      background-image: linear-gradient($orange, $orange), linear-gradient($gray, $gray);
      background-size: 100% 1px, 100% 1px;

      & + .form__input-placeholder {
        transform: translate(0, -30px) scale(.7);

        color: $orange;
      }
    }

    .input-wrapper--icon & {
      padding-right: 35px;
    }
  }

  &__links-container, &__button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button-container {
    margin-top: 30px;

    @include for-phone-only {
      display: block;

      &  .button:first-child {
        margin-bottom: 20px;
      }
    }
  }

  &__links-container {
    & .link {
      &:first-child {
        padding-right: 20px;

        text-align: left;
      }

      &:last-child {
        padding-left: 20px;

        text-align: right;
      }
    }
  }

  &__socials {
    margin-bottom: 20px;
  }

  &__label{
    display: block;

    font-weight: 300;
  }

  &__textarea {
    display: block;
    width: 100%;
    min-height: 150px;

    padding: 20px;

    margin-top: 20px;

    border: none;
    background-color: #fff;

    resize: vertical;
    outline: none;
  }

  &__send-again-link {
    display: block;

    margin-top: 20px;

    text-align: right;
  }
}

