.get-back {
  text-decoration: none;
  color: $orange;

  &__icon {
    margin-right: 5px;

    &--inverted {
      transform: scale(-1, 1);
    }
  }

  &__text {
    font-size: 17px;
    font-weight: 500;
  }
}