.header-droplist {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;

  cursor: pointer;

  padding-right: 15px;

  margin-left: auto;
  margin-right: 20px;

  &:after {
    @include pseudo-elem;
    @include tri-b(white, 5, 5);

    top: calc(50% - 2px);
    right: 0;
  }

  &:hover {
    .header-droplist__inner {
      display: block;
    }
  }

  @include for-phone-only {
    margin-right: auto;
    margin-left: 20px;

  }

  @include for-desktop-up {
    margin-right: 0px;
  }

  &__inner {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 230px;
    overflow: hidden;

    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #ffffff;

    box-shadow: 0px 10px 20px transparentize(black, .9);

    @include for-phone-only {
      left: -20px;
      right: auto;
    }
  }

  &__list {
    @include reset-ul;

    &--shadow {
      padding-bottom: 15px;

      box-shadow: 0px 10px 20px transparentize(black, .9);
    }

    &--shadow + & {
      padding-top: 15px;
    }
  }

  &__link {
    display: block;
    position: relative;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size:15px;
    font-weight: 300;
    color: #000;
    text-decoration: none;

    transition: background-color $transition-time;

    &:hover {
      background-color: $light-gray;
    }

    &--icon {
      padding-left: 60px;

      &:before {
        content:'';
        @include pseudo-elem;
        @include fontello;
        display: flex;
        align-items: center;
        justify-content: center;

        top: calc(50% - 15px);
        left: 20px;
        width: 31px;
        height: 31px;

        font-size: 20px;
        color: $gray;
        text-align: center;

        transition: color $transition-time;
      }

      &:hover {
        &:before {
          color: $orange;
        }
      }
    }

    &--icon-profile {
      &:before{
        content:'\E806';
      }
    }

    &--icon-pencil {
      &:before{
        content:'\E801';
      }
    }

    &--icon-commands {
      &:before{
        content:'\E808';
      }
    }

    &--icon-preferences {
      &:before{
        content:'\E807';
      }
    }

    &--icon-log-out {
      &:before{
        content:'\E804';
      }
    }
  }

  &__name {
    max-width: 160px;

    margin-right: 15px;

    color: #fff;
    text-overflow: ellipsis;

    font-weight: 500;
  }

  &__ava {
    width: 100%;
    display: block;
  }
  
  &__ava-wrapper {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;

    overflow: hidden;

    border-radius:50%;

    background-color: darken($orange, 5%);
  }
}