.icon {
  @include inline-block;
  text-decoration: none;

  span + & {
    margin-left: 10px;
  }

  &--white {
    color: #fff;

    &.icon--rounded {
      @include makeCircle(30, 30, transparentize(#fff, .6));
    }
  }

  &--green {
    color: $green;
  }

  &--rounded {
    @include makeCircle(30, 30, $light-gray);
  }

  &:before {
    content:'';
    @include fontello;

    text-align: center;

    transition: color $transition-time;
  }

  &--big {
    font-size: 28px;
  }

  &--small {
    font-size: 13px;
  }

  &--play {
     &:before {
       content:'\E805';
     }
  }

  &--arrow {
    &:before {
      content: '\E800';
    }
  }

  &--burger {
    &:before {
      content:'\F0C9';
    }
  }

  &--cross {
    &:before {
      content: '\E802';
    }
  }

  &--long-arrow {
    &:before {
      content:'\E80C';
    }
  }

  &--vk {
    &:before {
      content:'\E80A';
    }
  }

  &--fb {
    &:before {
      content:'\E816';
    }
  }

  &--seal {
    &:before {
      content:'\E80D';
    }
  }
}