.input-wrapper {
  position: relative;

  &--icon {
    &:after{
      @include pseudo-elem;
      @include fontello;

      top: calc(50% - 10px);
      right: 5px;

      width: 20px;
      height: 20px;

      text-align: center;

      font-size: 12px;
      color: #fff;
    }
  }

  &--ok {
    &:after {
      @include makeCircle(20, 20, $green);

      content:'\E80E';
    }

  }

  &--wrong {
    &:after {
      @include makeCircle(20, 20, $tomato);

      content:'\E802';

      font-size: 8px;
    }
  }
}