.langs {
  display: block;

  padding: 10px;

  margin-top: 20px;
  margin-left: -40px;
  margin-right: -40px;

  background-color: transparentize(white, 0.8);


  @include for-desktop-up {
    display: inline-flex;
    align-items: center;
    align-self: stretch;

    padding-top: 0;
    padding-bottom:0;

    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  &__list {
    @include reset-ul;
    display: flex;
    justify-content: space-around;

    @include for-big-desktop-up {
      justify-content: flex-start;
    }
  }

  &__item {
    padding-left: 5px;
    padding-right: 5px;
  }

  &__link {
    display: block;

    padding: 5px;

    transition: background-color $transition-time;

    &:hover{
      background-color: transparentize(white, 0.6);
    }
  }

  &__flag{
    display: block;
    width: 35px;
    height: 26px;

    @include for-desktop-up {
      width: 27px;
      height:20px;
    }
  }
}