.members {
  &__list {
    @include reset-ul;

    display: flex;
    flex-wrap: wrap;

    @include for-phone-up {
      justify-content: center;
    }

    @include for-tablet-landscape-up {
      justify-content: flex-start;
    }
  }
}

.member {
  position: relative;

  max-width: 400px;

  padding: 20px 40px;

  margin-right: 30px;
  margin-bottom: 30px;

  box-shadow: 0 3px 10px 3px $light-gray;

  transition: box-shadow $transition-time;

  @include for-phone-only {
    padding-left: 20px;
    padding-right: 20px;
  }

  &:hover {
    box-shadow: 0 6px 13px 4px darken($light-gray, 3%);

    .member__icon {
      color: $orange;
    }
  }

  &--self {
    padding-top: 20px;
    padding-bottom: 20px;

    &:hover {
      .member__name {
        text-decoration: underline;
        color: $orange;
      }
    }

    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    text-decoration: none;
    color: black;
  }

  &__avatar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

    overflow: hidden;

    border-radius: 50%;
  }

  &__avatar {
    width: 100%;
  }

  &__info {
    align-self: center;

    padding-left: 20px;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__name {
    margin-bottom: 10px;

    font-size: 17px;
  }

  &__country {
    @include inline-block;

    font-size: 15px;
  }

  &__count {
    margin-top: 10px;

    font-size: 13px;
    color: $gray;
  }

  &__icon {
    position: absolute;
    right: 15px;
    bottom: 15px;

    transform: scale(-1, 1);

    color: $gray;
  }
}