.mobile-navigation {
  position: fixed;
  left: 100%;
  top: 0;

  overflow: auto;

  height: 100%;
  z-index: 140;

  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;

  background-color: $orange;

  transition: transform $transition-time;

  @include for-phone-only {
    max-width: 280px;

    &.show {
      transform: translateX(-280px);
    }
  }

  @include for-tablet-portrait-up {
    width: 50vw;

    &.show {
      transform: translateX(-50vw);
    }
  }

  @include for-desktop-up {
    position: static;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    width: auto;
    height: auto;

    padding-top: 0;
    padding-bottom: 0;
  }

  &__close {
    height: 73px;
    width: 73px;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: -40px;

    background-color: transparentize(white, 0.8);

    color: #fff;

    cursor: pointer;


    @include for-phone-up {
      display: flex;
    }

    @include for-desktop-up {
      display: none;
    }
  }
}