.navigation {
  flex-grow: 1;

  &__list {
    @include reset-ul;
    display: block;

    @include for-phone-only {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @include for-desktop-up {
      display: flex;
      justify-content: center;
    }
  }

  &__link {
    display: block;
    padding: 20px 10px;

    border-bottom: 3px solid transparent;

    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;

    transition: border-color $transition-time;

    @include for-big-desktop-up {
      text-align: left;

      &:hover {
        border-bottom: 3px solid white;
      }
    }
  }
}