.notice {
  margin-bottom: 10px;

  font-size: 13px;
  color: #fff;

  &__inner {
    @include inline-block;

    position: relative;

    padding: 8px 20px;
    border-radius: 3px;

    background-color: $orange;
  }

  &--danger {
    .notice__inner {
      background-color: $tomato;
    }
  }

  &--ok {
    .notice__inner {
      background-color: $green;
    }
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;

    font-size: 8px;
  }
}