.pagination {
  margin-top: 40px;
  margin-bottom: 40px;

  text-align: center;
  font-size: 15px;

  &__list {
    @include reset-ul;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 100%;

    overflow: hidden;

    border-radius: 3px;
    //border: 1px solid $almost-light-gray;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $almost-light-gray;

    &:first-child, &:last-child {
      min-width: 90px;

      background-color: $orange;

      border: 1px solid $orange;

      &:hover {
        background-color: lighten($orange, 3%);
      }

      & .pagination__link {
        color: white;
      }

      @include for-phone-only {
        flex-grow: 1;
        width: 100%;
      }
    }

    &:first-child {
      @include for-phone-only {
        margin-bottom: 20px;
      }
    }

    &:last-child {
      @include for-phone-only {
        margin-top: 20px;
      }
    }

    &:hover {
      background-color: $almost-light-gray;
    }

    &.active {
      color: $orange;
    }

    &.disabled {
      &:first-child, &:last-child {
        background-color: #fff;
        border: 1px solid $almost-light-gray;

        &:hover {
          background-color: white;
        }

        & .pagination__link {
          cursor: default;

          color: $gray;
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    min-width: 30px;
    min-height: 30px;

    text-decoration: none;
    text-align: center;
    color: #000;

    &.active {
      color: $orange;
    }
  }
}