.popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index:110;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: transparentize(black, 0.15);

  &__inner {
    max-width: 640px;
    width: 100%;

    padding-left: 70px;
    padding-right: 70px;

    @include for-phone-only {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__body {
    position: relative;

    margin-top: 15px;

    border-radius: 3px;

    background-color: #fff;


    @include for-phone-only {

    }

    @include for-phone-up {
      padding: 20px 30px;
    }

    @include for-tablet-landscape-up {
      padding: 40px 60px;
    }
  }

  &__title {
    text-align: center;
    line-height: 50px;
    font-size: between(20px, 40px, $phone-from, $desktop);
    color: #fff;
    font-weight: 300;
    
    @include for-phone-only {
      padding-right: 60px;

      padding-left: 20px;

      text-align: left;
    }
  }

  &__close {
    position: absolute;
    left: calc(100% + 30px);
    top: 20px;

    color: #fff;
    font-size: 30px;



    @include for-phone-only {
      bottom: calc(100% + 23px);
      top: auto;
      left: auto;
      right: 15px;

      padding-left: 0;
      padding-right: 0;
    }
  }

}