.profile {
  &__get-back {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__title {

    &--verified {
      padding-right: 30px;

      &:after {
        @include fontello;

        position: relative;
        top: -20px;

        display: inline-block;
        vertical-align: top;

        color: $orange;
        content:'\E80D';
        font-weight: 300;
        font-size: 30px;


        @include for-phone-only {
          font-size: 20px;
          top: -10px;
        }
      }
    }
  }

  &__face-area {
    display: block;

    margin-bottom: 50px;

    @include for-phone-only {
      display: block;

      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
  }

  &__edit-area {
    margin-bottom: 50px;

    @include for-phone-only {
        margin-bottom:25px;
      }
    }

  &__header, &__body {
    padding-top: 50px;

    @include for-phone-only {
      padding-top: 25px;
    }
  }

  &__header {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__thumb {
    position: relative;

    display: block;

    max-width: 300px;
    height: 300px;

    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 3px;

    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &--darker {
      &:before {
        @include pseudo-elem;
        z-index: 0;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        border-radius: 3px;

        background-color: transparentize(black, .5);
      }
    }
  }

  &__thumb-text {
    position: absolute;
    z-index: 1;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;

    width: calc(100% - 20px);
    height: calc(100% - 20px);

    padding-left: 20px;
    padding-right: 20px;

    border: 2px dashed $orange;
    border-radius: 3px;

    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }

  &__form, &__info {
    @include for-tablet-landscape-up {
      max-width: 550px;
    }
  }

  &__text {
    font-size: 17px;
    font-weight: 400;
  }

  &__row {
    padding-top: 10px;
    padding-bottom: 10px;

    margin-left: -20px;
    margin-right: -20px;
  }

  &__about-me {
    border-top: 1px solid lighten($gray, 10%);
    border-bottom: 1px solid lighten($gray, 10%);

    padding-top: 40px;
    padding-bottom: 40px;

    margin-bottom: 40px;
    margin-top: 40px;
  }

  &__watch-area {
    margin-bottom: 50px;
  }

  &__capitan-status {
    position: relative;
    top: -10px;
  }


  &__capitan-city {
    @include for-phone-only {
      display: block;
    }
  }

  &__capitan-link {
    margin-right: 20px;
  }

  &__info {
    margin-top: 20px;

    @include for-phone-only {
      margin-top: 10px;
    }
  }
}