.select2-container--default .select2-selection--single {
  height: auto;

  border: none;
  border-radius: 3px;

  padding: 8px 37px 8px 10px;

  font-size: 17px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
  & b {
    display: none;
  }

  width: 17px;
  height: 17px;
  top: calc(50% - 9px);
  right: 15px;

  transform: rotate(90deg);
  transform-origin: 50% 50%;

  transition: transform $transition-time;

  color: $gray;

  &:after{
    @include pseudo-elem;
    @include fontello;
    content: '\E800';
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
    transform: rotate(0deg);
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  @include resetInput;

  background-image: linear-gradient($orange, $orange), linear-gradient($gray, $gray);
  background-size: 0 1px, 100% 1px;
  background-repeat: no-repeat;
  background-position: left bottom, left bottom;
  background-color: transparent;

  transition: background-size $transition-time cubic-bezier(0.25, 0.1, 0.25, 1);

  &:focus, &.freeze {
    background-image: linear-gradient($orange, $orange), linear-gradient($gray, $gray);
    background-size: 100% 1px, 100% 1px;

    & + .form__input-placeholder {
      transform: translate(0, -30px) scale(.7);

      color: $orange;
    }
  }
}

.select2-dropdown {
  overflow: hidden;

  border: none;

  box-shadow: 0px 0px 15px transparentize(black, .9);
}

.select2-search--dropdown {
  margin-bottom: 10px;

  padding: 10px 15px;

  border: none;

  box-shadow: 0px 0px 15px transparentize(black, .9);
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: transparentize($orange, .5);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $orange;

  color: #fff;
}

.select2-container {
  @include for-phone-only {
    margin-top: 20px;
  }
}