.sharing {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;

  &__link {
    display: inline-flex;
    align-items: center;

    padding: 5px 15px 5px 10px;

    margin-right: 10px;

    border-radius: 3px;

    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    vertical-align: middle;

    &--fb {
      background-color: $fb;

      &:hover {
        background-color: lighten($fb, 3%);
      }
    }

    &--vk {
      background-color: $vk;

      &:hover {
        background-color: lighten($vk, 3%);
      }
    }
  }

  &__title {
    margin-right: 20px;

    @include for-phone-only {
      display: block;
      width: 100%;
    }
  }

  &__icon {
    margin-right: 10px;
  }

  &__text {
    position: relative;

    bottom: -1px;
  }

  &__date {
    color: $gray;
  }
}