.slider {
  &__button {
    @include resetButton;
    @include fontello;
    @include inline-block;

    & + & {
      margin-left: 20px;
    }

    &--prev {
      transform: scale(-1,1);
    }

    &:before {
      content:'\E800';
      display: block;
      font-size: 32px;
      color: $orange;
    }
  }
}