.socials {
  &__list {
    @include reset-ul;
    display: flex;
    justify-content: flex-end;

    &--start {
      justify-content: flex-start;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 15px;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__link {
    display: inline-block;
    width: 50px;
    height: 50px;

    border-radius: 50%;

    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 31px;

    transition: background-color $transition-time;

    &:before {
      content:'';
      @include fontello;

      color: #fff;

      transition: color $transition-time;
    }

    &--vk {
      background-color: $vk;

      &:before {
        content:'\E80A';
      }
    }

    &--fb {
      background-color: $fb;

      &:before {
        content:'\E816';
      }
    }

    &--yt {
      &:before {
        content:'\E809';
      }
    }

    &--inst {
      &:before {
        content:'\E803';
      }
    }

    &:hover {
      background-color: $orange;
    }
  }

  &__item {
    & + & {
      margin-left: 15px;
    }
  }

  &--white {
    & .socials__link {
      background-color: transparentize(white, 0.8);

      &:hover {
        background-color: #fff;

        &:before {
          color: $orange;
        }
      }
    }
  }

  &--space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .socials__list {
      margin-left: 20px;
    }
  }
}