.text-content__table {
  table-layout: fixed;

  width: 100%;

  margin-bottom: 40px;

  border: 1px solid $almost-light-gray;

  & td, & th {
    padding: 10px;

    border: 1px solid $almost-light-gray;

    text-align: center;

    vertical-align: middle;
  }

  & thead {
    box-shadow: 0 5px 20px transparentize(black, .85);
  }


  & th {
    color: $orange;

    border: none;

    border-left: 1px solid $almost-light-gray;
  }

  & td {
    border-top: none;
    border-bottom: none;
  }

  & tr:nth-child(2n + 2) {
    background-color: $almost-light-gray;
  }

  &--orange {
    border: none;

    & thead {
      box-shadow: none;
    }

    & td, & th {
      border: 1px solid $orange;

      box-shadow: none;
    }
    & th {
      color: #fff;

      background-color: $orange;
    }
  }
}