
.text-content {
  @include for-phone-up {
    padding-left: 20px;
    padding-right: 20px;
  }


  h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    margin-top: .4em;
  }

  &__img {
    display: block;
    max-width: 700px;
    width: 100%;

    margin-bottom: 10px;
  }

  &__signature {
    max-width: 700px;

    padding-left: 20px;
    padding-right: 20px;

    margin-bottom: 50px;

    font-style: italic;
    color: $gray;
    font-weight: 300;
  }

  &__button-area {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__quote {
    max-width: 700px;

    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 0;

    font-style: italic;
    font-weight: 300;
  }

  &__img-wrapper {
    margin-bottom: 20px;
  }
}