.widjet {

  @include for-phone-only {
    padding: 0;
    & + & {
      margin-top: 40px;
    }
  }

  @include for-tablet-portrait-up {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;

    padding-left: 20px;
    padding-right: 20px;

    margin-bottom: 20px;
  }

  @include for-desktop-up {
    display: block;

    padding: 0;
  }

  &__title {
    padding-left: 20px;
    padding-right: 20px;

    margin-bottom: 20px;

    font-size: 20px;
    font-weight: 400;

    @include for-tablet-portrait-up {
      display: flex;
      align-items: flex-end;
      height: 50px;

    }

    @include for-big-desktop-up {
      max-height: none;
    }
  }

  &__inner {
    padding: 20px 0;

    border-radius: 3px;

    background: #fff;

    @include for-tablet-portrait-up {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-self: stretch;
    }

    &--pillow {
      padding: 20px;
    }
  }

  &__list {
    @include reset-ul;
    display: flex;
    flex-wrap: wrap;

    @include for-tablet-portrait-up {
      flex-grow: 1;
    }

    &--columed {
      justify-content: space-around;

      & .widjet__wrap-link--pillow{
        padding: 8px 5px;
      }

      & .widjet__item {
        flex-basis: calc(50% - 5px);
        display: flex;
      }
    }
  }

  &__thumb {
    max-width: 100%;
  }

  &__link {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__item {
    justify-content: center;
    flex-basis: 100%;
    width: 100%;

    &--separator {
      @include for-tablet-portrait-up {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      @include for-desktop-up {
        display: block;
      }

      & + &:before {
        content:'';
        display: block;
        height: 1px;
        width:100%;

        margin-left: auto;
        margin-right: auto;

        background-color: $light-gray;
      }
    }
  }

  &__avatar {
    position: relative;

    flex-shrink: 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius:50%;

    width: 60px;
    height: 60px;
  }

  &__text, &__time {
    flex-grow: 1;
    max-width: 280px;

    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
    color: black;
  }

  &__text {
    font-size: 15px;
    font-weight: 500;
  }

  &__time {
    font-size: 12px;
    font-weight: 300;
  }

  &__count {
    font-size: 13px;
    color: $dark-gray;
  }

  &__wrap-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-basis: 100%  ;

    background-color: #fff;

    text-decoration: none;

    &:hover {
      .widjet__text {
        text-decoration: underline;
      }

      .video-thumb-wrapper {
        &:before {
          color: $orange;
        }
      }
    }

    &--pillow {
      padding: 10px;
    }
  }

  &__video-item {
    & + & {
      margin-top: 25px;
    }
  }

  &__show-more {
    margin-top: 10px;
    padding-top: 10px;

    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    color: $orange;
    text-decoration: none;

    @include for-phone-up {
      display: flex;
      flex-direction: column;
      align-self: stretch;
      justify-content: flex-end;
    }

    @include for-big-desktop-up {
      display: block;
    }
  }

  &__thumb {
    display: block;
    max-width: 100%;

    margin-left: auto;
    margin-right: auto;
  }
}

.avatar {
  &__flag-container {
    position: absolute;
    right: -3px;
    bottom: 10px;

    border-radius: 3px;

    background-color: #fff;
    box-shadow: 0 0 0 3px white;

  }

  &__flag {
    display: block;
    width: 18px;
    height: 12px;
  }
}

.widjet-wrapper {
  @include for-tablet-portrait-up {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include for-desktop-up {
    display: block;
  }
}

.video-thumb-wrapper {
  position: relative;

  margin-bottom: 10px;

  &:before {
    @include pseudo-elem;
    @include fontello;
    content:'\E809';
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    color: transparentize(white, 0.4);
    font-size: 40px;
  }
}